<footer class="bg-gray-900 text-white py-8">
    <div class="flex space-x-4 justify-center mt-6">
        <!-- LinkedIn Icon -->
        <a href="https://www.linkedin.com/in/bikram-gurung-1749b9319/" target="_blank" class="flex items-center justify-center bg-gray-800 text-white p-3 rounded hover:bg-blue-600 transition duration-300">
            <i class='bx bxl-linkedin'></i>
        </a>
    
        <!-- GitHub Icon -->
        <a href="https://github.com/iambiki-git" target="_blank" class="flex items-center justify-center bg-gray-800 text-white p-3 rounded hover:bg-gray-700 transition duration-300">
            <i class='bx bxl-github'></i>
        </a>
    
        <!-- Instagram Icon -->
        <a href="https://www.instagram.com/iambikigrg/" target="_blank" class="flex items-center justify-center bg-gray-800 text-white p-3 rounded hover:bg-pink-600 transition duration-300">
            <i class='bx bxl-instagram'></i>
        </a>
    </div>
    <div class="text-center text-sm mt-2 mb-0 text-slate-400">
        <p>&copy; 2024 BIKI. All rights reserved.</p>
    </div>
        
</footer>
