{% load static %}
<!-- Skills Overview -->
<section class="px-4 md:px-40 py-12 bg-gray-900 shadow-lg">
    <h2 class="text-4xl font-bold text-center text-white mb-6">Skills</h2>
    <p class="text-center text-slate-300 mb-4">
        Here are some of the technologies I'm proficient in:
    </p>
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-6">
        <li class="bg-gray-800 flex flex-col items-center justify-center p-6 rounded-lg transition-transform transform hover:scale-95 hover:shadow-xl">
            <div class="h-20 w-20 bg-yellow-500 rounded-full flex items-center justify-center mb-2">
                <span class="text-2xl font-bold text-white">Py</span>
            </div>
            <span class="font-semibold text-lg text-white">Python</span>
        </li>
        <li class="bg-gray-800 flex flex-col items-center justify-center p-6 rounded-lg transition-transform transform hover:scale-95 hover:shadow-xl">
            <div class="h-20 w-20 bg-green-500 rounded-full flex items-center justify-center mb-2">
                <span class="text-2xl font-bold text-white">DJ</span>
            </div>
            <span class="font-semibold text-lg text-white">Django</span>
        </li>
        <li class="bg-gray-800 flex flex-col items-center justify-center p-6 rounded-lg transition-transform transform hover:scale-95 hover:shadow-xl">
            <div class="h-20 w-20 bg-blue-500 rounded-full flex items-center justify-center mb-2">
                <span class="text-2xl font-bold text-white">JS</span>
            </div>
            <span class="font-semibold text-lg text-white">JavaScript</span>
        </li>
        <li class="bg-gray-800 flex flex-col items-center justify-center p-6 rounded-lg transition-transform transform hover:scale-95 hover:shadow-xl">
            <div class="h-20 w-20 bg-pink-500 rounded-full flex items-center justify-center mb-2">
                <span class="text-2xl font-bold text-white">HTML</span>
            </div>
            <span class="font-semibold text-lg text-white">HTML & CSS</span>
        </li>
        <!-- Add more skills as needed -->
    </ul>
</section>
